.container{
   width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty {
  text-align: center;
  color: #8e8e93;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
}

.list {
  width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.item {
  text-align: center; 
  direction: rtl;
  display: grid;
  grid-template-columns: 40px 80px 1fr 1fr 1fr; 
 align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #f2f2f7;
  transition: background-color 0.2s ease;
}

.item:hover {
  background-color: #f9f9f9;
}

.actions {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.actionBtn {
  background-color: #f2f2f7;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.actionBtn:hover {
  background-color: #e5e5ea;
}

.actionBtn:active {
  transform: scale(0.9);
}

.editBtn {
  background-color: #f2f2f7;
  color: white;
}

.editBtn:hover {
  background-color: #72a5df;
}

.deleteBtn {
  background-color: #f2f2f7;
  color: white;
}

.deleteBtn:hover {
  background-color: #f1544c;
}

.name,
.lastName,
.phone {
  font-size: 15px;
  color: #111;
}

.name {
  font-weight: 600;
}

.lastName {
  color: #444;
}

.phone {
  color: #666;
}
